h1 {
    background-color: #237524;
    font-family: 'Times New Roman';
    float: left;
    padding: 15px;
    font-size: 36px;
    border: 3px solid #237524;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    color: #237524;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    width: auto;
    float: right;
    margin-right: 200px;
}

li {
    word-spacing: 15px;
    display: inline;
}

a {
    text-decoration: none;
    float: left;
    color: black;
    padding: 5px;
}

body {
    background: #CDCCC5;
}

section {
    clear: both;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
    background-color: #ffffff;
}

img {
    float: left;
}

p {
    font-size: 24px;
    margin-left: 35px;
    padding-bottom: 15px;
}

hr {
    border-width: 3px;
    color: #CDCCC5;
    width: 95%;
}

header {
    clear: both;
}

form {
    margin-left: 20px;
    padding-bottom: 30px;
}
input[type=text]{
    width: 25%;
}

.container {
    width: 100%;
    background: white;
}

.container-2 {
    float;
}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}