h1 { 
    background-color: #237524;
    font-family: 'Times New Roman';
    float: left;
    padding: 15px;
    font-size: 36px;
    margin-left: 200px;
    margin-top: 0px;
    border: 3px solid #237524;
    clear: both;
}

h2{
    color: #237524;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 40px;
    background-color: #ffffff;
    width: 100%;
    line-height: 100%;
}

li {
    word-spacing: 15px;
}

a {
    text-decoration: none;
    float: left;
    color: black;
    margin-left: 185px;
    padding: 0px;
    word-spacing: 100px;
}

body {
    background: #CDCCC5;
}

section {
    clear: both;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
    background-color: #ffffff;
}

img {
    float: left;
}

p {
    font-size: 24px;
}

hr {
    border-width: 3px;
    color: #CDCCC5;
    width: 95%;
}

header {
    clear: both;
}

form {
    margin-left: 20px;
}